.puntero:hover {
    cursor: pointer;
}

.div-centrar-tabla {
    text-align: center;

}
.centrar-tabla {

    margin: 0 auto;
}
thead {
    background-color: rgb(0, 183, 255);
}

table,
td,
th {
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;

}